$text-color: #111;
$text-color-weak: #828282;
$background-color: #fdfdfd;

$color-primary-0: #ffdea8; // Main Primary color */
$color-primary-1: #fff2dd;
$color-primary-2: #ffe9c4;
$color-primary-3: #ecc480;
$color-primary-4: #cfa156;

$color-secondary-1-0: #86cb8f; // Main Secondary color (1) */
$color-secondary-1-1: #caeace;
$color-secondary-1-2: #a9dcaf;
$color-secondary-1-3: #63b76d;
$color-secondary-1-4: #43a04e;

$color-secondary-2-0: #ffaca8; // Main Secondary color (2) */
$color-secondary-2-1: #ffdedd;
$color-secondary-2-2: #ffc7c4;
$color-secondary-2-3: #ec8580;
$color-secondary-2-4: #cf5c56;

$color-complement-0: #7991b0; // Main Complement color */
$color-complement-1: #c3cfde;
$color-complement-2: #9fb0c9;
$color-complement-3: #5a769c;
$color-complement-4: #3f5e88;

$base-font-family: "Open Sans", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.2;
$spacing-unit: 30px;
$header-height: 60px;

@import "base";
@import "layout";
@import "typography";
@import "header";
@import "profile";
@import "timeline";
@import "ads";
@import "signup";
